@using TomTom.DataTable
@model TomTom.DataTable.FilterOption<string>
    

@{
    Model.OperationType = OperationType.Contains;
}

@Html.HiddenFor(m => m.PropName)
@Html.HiddenFor(m => m.OperationType)


<div class="form-group">
    @Html.LabelFor(m => m.Val[0], Model.Text)
    @Html.TextBoxFor(m => m.Val[0], new { @class = "form-control" })
</div>